.gradient {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  bottom: 60vh;
  background: linear-gradient(45deg, var(--fiorentina_red) 0%, var(--fiorentina_purple) 35%, var(--fiorentina_purple) 50%, var(--fiorentina_purple) 65%, var(--fiorentina_gold) 100%);
  transform: skewY(5deg);
}

.navbar {
  width: 50vw;
  position: relative;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.text {
  position: relative;
  font-family: BlinkMacSystemFont;
  font-weight: 200;
}