.image {
  border-width: 1px;
  border-color: #F0F8FF;
  border-style: solid;
  position: relative;
  border-radius: 10px;
}

.info_row {
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}