.image {
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
  position: relative;
  border-radius: 10px;
}

.info_row {
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.text {
  position: relative;
  font-family: BlinkMacSystemFont;
  font-weight: 200;
}