.main {
  min-height: 100vh;
}

.text {
  position: relative;
  width: fit-content;
  margin: 3vh auto;
  padding: 1vh 1vw;
  font-family: BlinkMacSystemFont;
  font-weight: 200;
  border: var(--border-color) solid 0.1px;
  border-radius: 10px;
}